# Local secrets
resend_config.txt
telegram_config.txt
chat_id.txt
brain.db

# Environment variables
.env

# MacOS metadata
._*
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/
